* {
  font-family: "Open Sans", sans-serif;
}
h1 {
  background-color: #404041;
  color: #e6e7e8;
  font-weight: 300;
  font-size: 3em;
  margin: -10px -10px 30px -10px;
  padding: 20px;
}

h1 span {
  color: #ed458b;
  font-weight: 700;
}

input {
  display: block;
  margin: 0 auto 20px auto;
  padding: 5px;
  width: 300px;
}

p {
  color: #404041;
  font-weight: 300;
}

body {
  text-align: center;
}

#user-Guess {
  color: #ed458b;
  font-size: 10em;
  font-weight: light;
  margin: -20px;
  padding-top: -200px;
}

button {
  background-color: #929497;
  border: none;
  border-radius: 20px;
  color: white;
  padding: 5px 60px;
}

section button {
  padding: 50px 30px;
  margin: 0px 30px;
  background-color: #929497;
}

.activePlayerButton {
  background-color: #ed458b;
}

.inactivePlayerButton {
  background-color: #929497;
}
.footer {
  background-color: #404041;
  color: #e6e7e8;
  font-weight: 300;
  margin: 20px -10px 30px -10px;
  padding: 20px;
}

.resetButton {
  padding: 5px 150px;
}

.enableMultiplayerButton {
  padding: 5px 135px;
  margin: 10px;
}

button:focus {
  outline: 0;
}

input:focus {
  outline: 0;
}

button:hover {
  background-color: #eb008b;
}

button:active {
  background-color: #929497;
}

button:disabled {
  background-color: #d0d2d3;
}

section {
  display: inline;
}

.multiplayers {
  display: none;
}

i {
  color: white;
}
